*{
    background-color: wheat;
}
p.nav{
    margin: -10px;
    padding: 20px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: tomato;
    color:white;
    font-size: 30px;
}
#button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    background-color: rgb(102, 11, 11);
    border-radius: 12px;
    color: white;
    border: none;
    text-decoration: none;
    text-align: center;
    align-self: center ;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: tomato;
}
.wide{
    width: 150px;
    display: flex;
    justify-content: center;
    align-self: center;
    

}
.container{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.guy{
    padding-bottom: 20px;
    font-size: 40px;
    margin-bottom: 10px;

    
}